@model IEnumerable<MVCProject.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@_localization.Getkey("Index")</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">@_localization.Getkey("New")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">@_localization.Getkey("Edit")</a> |
                <a asp-action="Details"  class="btn btn-info" asp-route-id="@item.Id">@_localization.Getkey("Details")</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">@_localization.Getkey("Delete")</a>
            </td>
        </tr>
}
    </tbody>
</table>
